* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: "Poppins", sans-serif;
}

body>div {
    margin: 15% auto 0;
    max-width: 720px;
}

.app-header{
    margin: 10px auto;
}